<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title_text }}</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <table>
        {%  if recruit_results|length > 1 %}
          <td>标签选择</td><td>预计干员名单</td>
            {% for result in recruit_results %}
                {% for choose in result %}
                  <tr>
                  <td>
                    {% for tags in choose %}
                        {{tags}}
                    {% endfor %}
                  </td>
                  <td>
                    {% for agent in result[choose].agent %}
                        {{ agent.name }}
                    {% endfor %}
                  </td>
                  </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {%  if recruit_get_agent|length > 1 %}
            <td>上次公招结果:</td>
            <td>
                {% for result in recruit_get_agent %}
                    {{ result}}
                {% endfor %}
            </td>
        {% endif %}

    </table>
  </body>
</html>
