<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>arknights-mower任务列表</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>时间</th>
        <th colspan="2">任务</th>
      </tr>
      {% for task in tasks %}
      {% if task.plan %}
      {% for r, p in task.plan.items() %}
      <tr>
        {% if loop.first %}
        <td rowspan="{{ task.plan|length }}">{{ task.time.strftime('%H:%M:%S') }}</td>
        {% endif %}
        <td>{{ base_scheduler.translate_room(r) }}</td>
        <td>{{ p|join(', ') }}</td>
      </tr>
      {% endfor %}
      {% elif task.type %}
      <tr>
        <td>{{ task.time.strftime('%H:%M:%S') }}</td>
        <td colspan="2">{{ task.type }}</td>
      </tr>
      {% else %}
      <tr>
        <td>{{ task.time.strftime('%H:%M:%S') }}</td>
        <td colspan="2">空任务</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </body>
</html>
